


/*Big tablet to 1200px */

@media only screen and (max-width: 1200px) {

}
/*from small tab to big tablet from 767 to 1023px*/

@media only screen and (max-width: 1023px) {
    .description{
     width: 50%;
    }
    .description__title{
        font-size: 20px;
        margin-top: 78px;
        margin-left: 35px;
        margin-bottom: 24px;
        color: #e6e6e6;
        font-family: "freight-text-pro","Freight Text",Georgia,serif;
    }
    div.img {
        /* border: 1px solid #ccc; */
        margin-left: 32px;
        margin-right: 32px;
    }
    .profile__pic{
        display: none;
    }
    .col-1-of-2 {
        /* float: left; */
        width: 197%;
        padding: 10px;
        height: 819px;
    }
    .title {
        text-align: center;
        margin-top: 297px;
        font-weight: 700;
        color: white;
        margin-right: 985px;
    }
    .introduction {
        margin-top: 100px;
        margin-left: 20px;
        text-align: center;
        color: white;
        margin-right: 985px;
    }
    .responsive {
        margin-top: 30px;
        padding: 0 6px;
        float: left;
        width: 85.99999%;
        margin-left: 63px;
        /* margin-right: 40px; */
    }
    .span-1-of-6 {
        width: 47.26%;
    }

}




/*small phones to small tablet: from 480 to 767px*/

@media only screen and (max-width: 767px) {
      .header{
        min-height: 500px;
      } 
      .description{
        width: 50%;
       }
       .profile__pic{
           display: none;
       }
       .col-1-of-2 {
        /* float: left; */
        width: 197%;
        padding: 10px;
        height: 819px;
    }
    .title {
        text-align: center;
        margin-top: 297px;
        font-weight: 700;
        color: white;
        margin-right: 961px;
        padding-left: 247px;
    }
    .introduction {
        margin-top: 100px;
        margin-left: 20px;
        text-align: center;
        color: white;
        margin-right: 719px;
    }
        .responsive {
            margin-top: 30px;
            padding: 0 6px;
            float: left;
            width: 85.99999%;
            margin-left: 63px;
            /* margin-right: 40px; */
        }
        .span-1-of-6 {
            width: 47.26%;
        }  
        .description__title {
            font-size: 20px;
            margin-top: 78px;
            margin-left: 24px;
            margin-bottom: 24px;
            color: #e6e6e6;
            font-family: "freight-text-pro","Freight Text",Georgia,serif;
        } 
        article {
            padding: 2%;
            line-height: 145%;
            position: relative;
            margin-top: 3px;
            margin-left: 10px;
        }
 }
/*small phones from 0 to 480px*/


@media only screen and (max-width: 480px) {
    .profile__pic{
        display: none;
    }
    .col-1-of-2 {
        /* float: left; */
        width: 197%;
        padding: 10px;
        height: 819px;
    }
    .title {
        text-align: center;
        margin-top: 297px;
        font-weight: 700;
        color: white;
        margin-right: 961px;
        padding-left: 95px;
    }
    .introduction {
        display: table-cell;
        font-size: 12px;
        padding-left: 39px;
        padding-top: 45px;
        font-weight: 400;
    }
 
    .description__title {
        font-size: 14px;
        /* margin-top: 78px;
        margin-left: 24px;
        margin-bottom: 24px;
        color: #e6e6e6;
        font-family: "freight-text-pro","Freight Text",Georgia,serif; */
    }
    h4 {
        font-size: 15px;
        margin-left: 14px;
    }
    .span-1-of-6 {
        width: 51.26%;
        margin-top: 10px;
        /* text-align: center; */
        /* margin-left: 76px; */
        font-size: 23px;
    }
    .excerpt__title {
       color: white;
       font-size: 17px;
       margin-bottom: 10px;
       font-family: "Karla",sans-serif;
       font-size: 11px;
       margin-left: 16px;
       font-weight: 00;
    }
    .excerpt__content {
        font-size: 15px;
        font-weight: 400;
        color: white;
        margin-left: 16px;
        line-height: normal;
    }
    .description__title {
        font-size: 16px;
        margin-top: 78px;
        margin-left: 24px;
        margin-bottom: 24px;
        color: #e6e6e6;
        font-family: "freight-text-pro","Freight Text",Georgia,serif;
    }
    .responsive {
        margin-top: 30px;
        padding: 0 6px;
        float: left;
        width: 82.99999%;
        margin-left: 27px;
        /* margin-right: 40px; */
    }
}

