/* BASIC SETTUP*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }
html, body{
	background-color: rgba(239, 245, 242, 0.911);
	font-family: 'Lato', 'Arial', san-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}
/* Create two equal columns that floats next to each other */
.col-1-of-2{
    float: left;
    width: 50%;
    padding: 10px;
	height: 819px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.frame {
    position: fixed;
    z-index: 100;
    background: white;
}
.frame-left {
	left: 0;
	top: 0;
	height: 100%;
	width: 18px;
}
.frame-right {
	right: 0;
	top: 0;
	height: 100%;
	width: 18px;
}
.frame-top {
	left: 0;
	top: 0;
	width: 100%;
	height: 20px;
}
.frame-bottom {
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
}
.title{
	text-align: center;
	margin-top: 297px;
	font-weight: 700;
	color: white;
}
.introduction{
	margin-top: 100px;
	margin-left: 20px;
	text-align: center;
	color: white;

}
.profile{
    margin-top: 44px;
    transform: rotate(90deg);
    height: auto;
    width: 874px;
	margin-left: -119px;
	opacity: .1px;
}
.description__title{
	font-size: 20px;
    margin-top: 78px;
    margin-left: 35px;
    margin-bottom: 24px;
    color: #e6e6e6;
    font-family: "freight-text-pro","Freight Text",Georgia,serif;
}

.stack{
	background-color: #7676a3;
	border: 1px solid white;
}
.sub__stack{
margin-left: 10px;
list-style: none;
margin-top: 84px;
color: white;
}
.sub__stack li{
	margin: 30px;
}
h4{
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 21px;
	margin-bottom: 17px;
	color: white;
}
i{
	color: white;
}
.links{
	padding-left: 274px;
}
.links li {
	display: inline-block;
	margin-left: 15px;
	
}
.links{
	margin-left: 35px;
	margin-right: 35px;
	margin-top: 50px;

}
.span-1-of-6 {
    width: 31.26%;
}
article{
		padding: 2%;
		line-height: 145%;
		position: relative;
		margin-top: 3px;
}

 .excerpt__title {
	color: white;
    font-size: 17px;
	margin-bottom: 10px;
    font-family: "Karla",sans-serif;
}
.excerpt__content {
		font-size: 17px;
		font-weight: 400;
		color: white;
}
.workdone{
	background-color:  #9494b7;
}

div.img {
	/* border: 1px solid #ccc; */
	margin-left: 37px;
	margin-right: 37px;
}
div.img img {
    width: 100%;
    height: auto;
}
div.desc {
    /* padding: 15px; */
	text-align: center;
	color: white;
	font-weight: 400;
}
.responsive {
	margin-top: 30px;
    padding: 0 6px;
    float: left;
	width: 49.99999%;
}

.clearfix:after {
    content: "";
    display: table;
	clear: both;
}
